html {
  font-family: $secondaryFont;
  font-size: $primaryFontSize;
  color: $primaryTextColour;
  line-height: 29px;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

section {
  padding: 100px 0;
}

a {
  color: $primaryTextColour;
  text-decoration: none;
}

p {
  text-align: center;
}

.primaryHeading {
  @include heading($primaryHeaderSize);
}

.secondaryHeading {
  @include heading($secondaryHeaderSize);
}

.btnPrimary {
  font-weight: 700;
  background-color: $primaryColour;
  font-family: $primaryFont;
  padding: 10px 35px;
  transition: 0.1s background-color ease;

  &:hover {
    color: $secondaryColour;
    background-color: $primaryBGColour;
  }
}

//Media Queries

@media (max-width: $breakpointMedium) {
  section {
    padding: 50px 0;
  }
}
