//Colours
$primaryBGColour: #215a6d; // bg colour
$primaryColour: #8dd7e9; // accent colour
$primaryTextColour: #0f0f0f; // Black shade
$secondaryColour: #f6f6f6; // white shade

//Fonts
$primaryFont: "Poppins", sans-serif;
$secondaryFont: "Noto Sans", sans-serif;

$primaryFontSize: 18px;
$primaryHeaderSize: 32px;
$secondaryHeaderSize: 24px;

//Media Query Breakpoints
$breakpointSmall: 480px;
$breakpointMedium: 768px;
$breakpointLarge: 1024px;
