.blog {
  padding: 0;
  .wrapper {
    max-width: none;
    width: 100%;

    .column {
      width: 50%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      max-height: 770px;
    }

    p {
      max-width: 300px;
    }

    .rowOne {
      display: flex;
      .leftColumn {
      }

      .rightColumn {
        background-color: $secondaryColour;
        padding-right: 50px;
      }
    }

    .rowTwo {
      display: flex;

      .leftColumn {
        padding-left: 50px;
      }
    }
  }
}

//MEdia Queries
@media (max-width: $breakpointLarge) {
  .blog {
    .wrapper {
      .column {
        width: 100%;
        min-height: 50%;
      }

      p {
        max-width: 400px;
      }
      .rowOne {
        flex-direction: column;
        .rightColumn {
          padding: 100px 0;
        }
      }

      .rowTwo {
        flex-direction: column-reverse;
        .leftColumn {
          padding: 100px 0;
        }
      }
    }
  }
}

@media (max-width: $breakpointMedium) {
  .blog {
    .wrapper {
      p {
        max-width: 100%;
      }

      .rowOne {
        .rightColumn {
          padding: 50px 15px;
        }
      }

      .rowTwo {
        .leftColumn {
          padding: 50px 15px;
        }
      }
    }
  }
}
