.blog {
  padding: 0;
  .wrapper {
    max-width: none;
    width: 100%;

    .column {
      width: 50%;
      padding: 100px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    p {
      max-width: 300px;
    }

    .rowOne {
      display: flex;
      .leftColumn {
        background-image: url(../assets/images/asset-2.jpg);
        background-size: cover;
        background-position: center;
      }

      .rightColumn {
        background-color: $secondaryColour;
        padding-right: 50px;
      }
    }

    .rowTwo {
      display: flex;

      .leftColumn {
        padding-left: 50px;
      }

      .rightColumn {
        background-image: url(../assets/images/asset-3.jpg);
        background-size: cover;
        background-position: center;
      }
    }
  }
}
