.footer {
  background-color: $primaryBGColour;
  color: $secondaryColour;

  .wrapper {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
  }

  .copyrightInfo {
    margin: 0;
    background-color: #094154;
    padding: 10px 0;
    font-weight: 700;
  }

  span {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: $primaryFont;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .formContainer {
    width: 50%;

    fieldset {
      display: flex;
      margin: 0;
      padding: 0;
      border: none;

      legend {
        margin-bottom: 10px;
      }
    }

    input {
      flex-grow: 1;
      border: none;
      padding: 15px 25px;
    }

    button {
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #094154;
      }
    }
  }

  .linksContainer {
    display: flex;
    justify-content: space-between;
    min-width: calc(50% - 80px);

    .col {
      &:not(:last-child) {
        margin-right: 50px;
      }

      &:first-child {
        margin-left: 20px;
      }
    }

    a {
      color: $secondaryColour;
    }

    p {
      margin-top: 0;
      text-align: left;
    }
  }
}

//Media Queries
@media (max-width: $breakpointLarge) {
  .footer {
    .wrapper {
      padding: 100px 0;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .formContainer {
      width: 100%;
      margin-bottom: 30px;

      input {
        flex-grow: 0;
        width: 60%;
      }
    }

    .linksContainer {
      width: 100%;
      justify-content: flex-start;

      .col:first-child {
        margin-left: 0px;
      }
    }
  }
}

@media (max-width: $breakpointMedium) {
  .footer {
    .wrapper {
      padding: 50px 0;
    }

    .copyrightInfo {
      padding: 5px 0;
      font-weight: 400;
    }

    .formContainer {
      width: 100%;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      fieldset {
        flex-wrap: wrap;
      }

      form {
        width: 100%;
      }

      legend {
        text-align: center;
      }

      input {
        width: 100%;
        padding: 15px 0;
        text-align: center;
      }

      button {
        width: 100%;
        padding: 15px 0;
      }
    }

    .linksContainer {
      width: 100%;
      flex-direction: column;
      align-items: center;

      .col:not(:last-child) {
        margin: 0 0 20px 0;
      }

      span {
        text-align: center;
      }

      p {
        text-align: center;
        margin: 0;
      }

      ul {
        text-align: center;
      }
    }
  }
}
