.iconNav {
  background-color: $primaryBGColour;

  .wrapper {
    ul {
      display: flex;
      justify-content: space-between;
      max-width: 60%;
      margin: 0 auto;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;

        color: $secondaryColour;

        span {
          margin-top: 20px;
          font-size: 1.4rem;
          font-family: $primaryFont;
          font-weight: 700;
        }

        i {
          font-size: 2rem;
        }
      }
    }
  }
}

//Media Queries
@media (max-width: $breakpointMedium) {
  .iconNav {
    .wrapper {
      ul {
        flex-direction: column;

        li:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
  }
}
